.item {
  margin-top: 3.5em;

  @media screen and (max-width: 1024px) {
    margin-top: 1.5em;
  }

  .item-header__city {
    color: $color-grey;
  }

  .item-wrapper {
    @include widerContent;
    @include flexContentRow;

    .item-gallery {
      margin: 0 auto;
      @include widerContent;

      img {
        max-width: 100%;
      }

      .go-next,
      .go-previous {
        top: 50%;
        font-size: 35px;
        color: white;
        background-color: $color-dark-transparent;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: $color-black;
        }
      }
      .go-previous {
        left: 1em;
      }
      .go-next {
        right: 1em;
      }
    }
  }

  .item-highlights {
    @include flexContentColumn;
    list-style: none;
    padding-left: 0;
    margin-left: 4em;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 2;

      i {
        color: $color-primary;
        font-size: 23px;
        line-height: 1.5;
      }

      span {
        line-height: 1.3;
      }
    }

    @media screen and (max-width: 1024px) {
      @include flexContentRow;
      width: 70%;
      flex-wrap: wrap;
      margin: 2em auto 0 auto;

      li {
        margin-bottom: 1em;
      }
    }
  }

  .item-detail {
    @include flexContentRow;
    margin-top: 1.5em;

    .item-detail__description {
      line-height: 1.5;
    }

    .item-detail__map {
      margin-left: 4em;
      margin-top: 1.5em;

      img {
        border: 1px solid $color-light-grey;
      }
    }

    @media screen and (max-width: 1024px) {
      display: block;

      .item-detail__map {
        width: 100%;
        margin: 1em auto;
        iframe {
          width: 100%;
        }
      }
    }
  }
}
