.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

@media screen and (min-width: 1025px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .hidden-mobile {
    display: none !important;
  }
}

.center-aligned {
  margin: 0 auto;
}
